.entryContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px;
    margin-bottom: 10px;
    background-color: rgb(230, 230, 189);
    border-radius: 10px;
}