.eBlock {
    display: grid;
    grid-template-columns: 170px 1fr;
    
    margin-bottom: 20px;
}

.eLeft,
.eRight {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.eRight {
    grid-column: 2/3;
    max-width: 470px;
}

.blockP {
    margin: 0;
}